<!DOCTYPE html>
<html>
    <head>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="semantic/components/tab.min.js"></script>
        <link rel="stylesheet" href="semantic/semantic.min.css">
        <script src="semantic/semantic.min.js"></script>
        <title>Lightna Framework Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
        function loadUsers(){
            $.ajax({
                type: "GET",
                url: "/users/get/all",
                data: {
                },
                success: function (data) {
                    console.log(data);

                },
                error:function (data) {
                
                    console.log(data);

                }
            });
        }

        </script>
    </head>
    <body onload="loadUsers();">
        <h1 class="ui center aligned icon header">
            <i class="circular user icon"></i>Lightna Framework Users
        </h1>        
        <h1>Hi!</h1>
    </body>
</html>