<!DOCTYPE html>
<html>
    <head>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="semantic/components/tab.min.js"></script>
        <link rel="stylesheet" href="semantic/semantic.min.css">
        <script src="semantic/semantic.min.js"></script>
        <title>Lightna Framework Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
        function loadUsers(){
            $.ajax({
                type: "GET",
                url: "/users/get/all",
                data: {
                },
                success: function (data) {
                    $('tbody').empty();
                    $('#newUserNameBox').val("");
                    $('#newUserAgeBox').val("");
                    console.log(data);
                    for(var counter = 0; counter < data.length; counter++){
                        var user = data[counter];
                        console.log(user.name);
                        console.log(user.age);

                        var tableRow = $("<tr>",{
                            class: 'ui form'
                        });

                        var tableData1 = $("<td>",{
                            class: 'ui field'
                        });
                        var tableData2 = $("<td>",{
                            class: 'ui field'
                        });

                        var tableData3 = $("<td>",{
                            class: 'ui field'
                        });

                        var editBox1 = $("<input>", {
                            val: user.name,
                            id: user.name + 'editBox',
                            type: 'text'
                        }); 

                        var editBox2 = $("<input>", {
                            val: user.age,
                            id: user.age + 'editBox',
                            type: 'text'
                        });

                        var updateButton = $("<button>",{
                            class: 'ui green button',
                            html: 'Update'
                        }).click({'name' : user.name, 'age' : user.age},function(event){
                            console.log("Sending old values " + event.data.name + event.data.age);
                            var newName = $('#' + event.data.name + 'editBox').val();
                            var newAge = $('#' + event.data.age + 'editBox').val();
                            console.log("Sending new values " + newName, newAge);
                            updateUser(event.data.name, event.data.age, newName, newAge);
                        });

                        var deleteButton = $("<button>",{
                            class: 'ui red button',
                            html: 'Delete'
                        }).click({'name' : user.name, 'age' : user.age}, function(event){
                            deleteUser(event.data.name, event.data.age)
                        });

                        tableData1.append(editBox1);
                        tableData2.append(editBox2);
                        tableData3.append(updateButton);
                        tableData3.append(deleteButton);

                        tableRow.append(tableData1);
                        tableRow.append(tableData2);
                        tableRow.append(tableData3);
                        $("tbody").append(tableRow);
                    }
                },
                error:function (data) {
                
                    console.log(data);

                }
            });
        }

        function deleteUser(name, age){
             $.ajax({
                type: "DELETE",
                url: "/users/delete?" + $.param({
                    'name' : name,
                    'age' : age,
                }),
                success: function (data) {
                    console.log(data);
                    loadUsers();
                }

            });           
        }

        function updateUser(oldName, oldAge, newName, newAge){
            $.ajax({
                type: "PUT",
                url: "/users/update?" + $.param({
                    'name' : oldName,
                    'age' : oldAge,
                    'newName' : newName,
                    'newAge' : newAge
                }),
                success: function (data) {
                    console.log(data);
                    loadUsers();
                }

            });
        }

        function addUser(){
            $.ajax({
                type: "POST",
                url: "/users/add",
                data: {
                    'name' : $('#newUserNameBox').val(),
                    'age' : $('#newUserAgeBox').val()
                },
                success: function (data) {
                    console.log(data);
                    loadUsers();
                },
                error:function (data) {
                    console.log(data);
                    $('tbody').empty();
                    $('#newUserNameBox').val("");
                    $('#newUserAgeBox').val("");
                    loadUsers();
                }
            });
        }

        </script>
    </head>
    <body onload="loadUsers();" class="ui container">
        <h1 class="ui center aligned icon header">
            <i class="circular user icon"></i>Lightna Framework Users
        </h1>        
        <table class="ui table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="ui form">
            <div class="field">
                <input type='text' placeholder="name" name="name" id='newUserNameBox'/>
            </div>
            <div class="field">
                <input type='text' placeholder="age" name="age" id='newUserAgeBox'/>
            </div>
            <button class="ui primary submit button" onclick="addUser()">Add</button>
        </div>
    </body>
</html>