<!DOCTYPE html>
<html>
    <head>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="semantic/components/tab.min.js"></script>
        <link rel="stylesheet" href="semantic/semantic.min.css">
        <script src="semantic/semantic.min.js"></script>
        <title>Lightna Framework Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
        function loadUsers(){
            $.ajax({
                type: "GET",
                url: "/users/get/all",
                data: {
                },
                success: function (data) {
                    console.log(data);
                    for(var counter = 0; counter < data.length; counter++){
                        var user = data[counter];
                        console.log(user.name);
                        console.log(user.age);
                        $("tbody").append("<tr><td class='ui'>" + user.name + "</td><td class='ui'>" + user.age + "</td></tr>");
                    }
                },
                error:function (data) {
                
                    console.log(data);

                }
            });
        }

        function addUser(){
            $.ajax({
                type: "POST",
                url: "/users/add",
                data: {
                    'name' : $('#newUserNameBox').val(),
                    'age' : $('#newUserAgeBox').val()
                },
                success: function (data) {
                    console.log(data);
                    $('tbody').empty();
                    $('#newUserNameBox').val("");
                    $('#newUserAgeBox').val("");
                    loadUsers();
                },
                error:function (data) {
                    console.log(data);
                    $('tbody').empty();
                    $('#newUserNameBox').val("");
                    $('#newUserAgeBox').val("");
                    loadUsers();
                }
            });
        }

        </script>
    </head>
    <body onload="loadUsers();" class="ui container">
        <h1 class="ui center aligned icon header">
            <i class="circular user icon"></i>Lightna Framework Users
        </h1>        
        <table class="ui table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="ui form">
            <div class="field">
                <input type='text' placeholder="name" name="name" id='newUserNameBox'/>
            </div>
            <div class="field">
                <input type='text' placeholder="age" name="age" id='newUserAgeBox'/>
            </div>
            <button class="ui primary submit button" onclick="addUser()">Add</button>
        </div>
    </body>
</html>